body {
    background: #f6f6f6;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.layout {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.diagram-box, .side-info {
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.panel {
    margin-bottom: 20px;
    padding: 12px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 6px;
    font-size: 14px;
}

.search-area {
    margin-bottom: 15px;
}

.search-area input {
    padding: 6px;
}


#sim-container {
    margin-top: 15px;
    padding: 20px;
    background: #ffffff;
    border-radius: 6px;
    display: inline-block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
}

.node {
    background: #dce7ff;
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid #9db8ff;
    font-weight: bold;
    transition: 0.3s;
}

.node.inbound {
    background: #4f8bff;     
    border-color: #003b99;  
    color: white;      
}

.node.small {
    padding: 6px 10px;
}

.node.active {
    background: #4f8bff;
    color: white;
    border-color: #003b99;
    box-shadow: 0 0 12px #4f8bff;
}

.arrow {
    font-size: 20px;
    margin: 0 6px;
}

.arrow.h {
    margin: 0 10px;
    font-size: 22px;
    font-weight: bold;
}

.arrow.v {
    font-size: 26px;
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.row.center {
    justify-content: center;
}

.row.space {
    justify-content: space-between;
    padding: 0 40px;
}

#sim-container .row {
    min-height: 50px;
}
